<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.mareklangiewicz.myhub"
    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MHApplication"
        android:icon="@mipmap/mh_ic_launcher"
        android:label="@string/mh_app_name"
        android:supportsRtl="true"
        android:theme="@style/mh_AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >
        <activity
            android:name="pl.mareklangiewicz.myhub.ui.MHActivity"
            android:label="@string/mh_app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--This activity is only for debugging -->
        <activity
            android:name="pl.mareklangiewicz.myactivities.MyTestActivity"
            android:label="@string/mh_my_test_activity"
            android:enabled="@bool/mh_debug_mode"
            />

    </application>

</manifest>
